.dataTables_wrapper { position: relative; min-height: 302px; _height: 302px; clear: both; }
.dataTables_processing { position: absolute; top: 0px; left: 50%; width: 250px; margin-left: -125px; border: 1px solid #ddd; text-align: center; color: #999; font-size: 11px; padding: 2px 0; }
.dataTables_length { width: 40%; float: left; }
.dataTables_filter { width: 50%; float: right; text-align: right; }
.dataTables_info { width: 60%; float: left; padding-top: 10px; }
.dataTables_paginate { width: 44px; * width: 50px; float: right; text-align: right; padding-top: 10px; }
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next { height: 19px; width: 19px; margin-left: 3px; float: left; }
.paginate_disabled_previous { background-image: url('../images/back_disabled.jpg'); }
.paginate_enabled_previous { background-image: url('../images/back_enabled.jpg'); }
.paginate_disabled_next { background-image: url('../images/forward_disabled.jpg'); }
.paginate_enabled_next { background-image: url('../images/forward_enabled.jpg'); }
table.display { margin: 0 auto; width: 100%; clear: both; }
table.display thead th { padding: 3px 10px; border-bottom: 1px solid black; font-weight: bold; cursor: pointer; * cursor: hand; font-size: 0.8em; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display tr.heading2 td { border-bottom: 1px solid #aaa; }
table.display td { padding: 3px 10px; font-size: 0.8em; }
table.display td.center { text-align: center; }
.sorting_asc { background: url('../images/sort_asc.jpg') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.jpg') no-repeat center right; }
.sorting { background: url('../images/sort_both.jpg') no-repeat center right; }
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeC { background-color: #ddddff; }
table.display tr.even.gradeC { background-color: #eeeeff; }
table.display tr.odd.gradeX { background-color: #ffdddd; }
table.display tr.even.gradeX { background-color: #ffeeee; }
table.display tr.odd.gradeU { background-color: #ddd; }
table.display tr.even.gradeU { background-color: #eee; }
tr.odd { background-color: #E2E4FF; }
tr.even { background-color: white; }
.top, .bottom { padding: 15px; background-color: #F5F5F5; border: 1px solid #CCCCCC; }
.top .dataTables_info { float: none; }
.clear { clear: both; }
tfoot input { margin: 0.5em 0; width: 100%; color: #444; }
tfoot input.search_init { color: #999; }
tr.odd td.sorting_1 { background-color: #D3D6FF; }
tr.odd td.sorting_2 { background-color: #DADCFF; }
tr.odd td.sorting_3 { background-color: #E0E2FF; }
tr.even td.sorting_1 { background-color: #EAEBFF; }
tr.even td.sorting_2 { background-color: #F2F3FF; }
tr.even td.sorting_3 { background-color: #F9F9FF; }
tr.odd.gradeA td.sorting_1 { background-color: #c4ffc4; }
tr.odd.gradeA td.sorting_2 { background-color: #d1ffd1; }
tr.even.gradeA td.sorting_1 { background-color: #d5ffd5; }
tr.even.gradeA td.sorting_2 { background-color: #e2ffe2; }
tr.odd.gradeC td.sorting_1 { background-color: #c4c4ff; }
tr.odd.gradeC td.sorting_2 { background-color: #d1d1ff; }
tr.even.gradeC td.sorting_1 { background-color: #d5d5ff; }
tr.even.gradeC td.sorting_2 { background-color: #e2e2ff; }
tr.odd.gradeX td.sorting_1 { background-color: #ffc4c4; }
tr.odd.gradeX td.sorting_2 { background-color: #ffd1d1; }
tr.even.gradeX td.sorting_1 { background-color: #ffd5d5; }
tr.even.gradeX td.sorting_2 { background-color: #ffe2e2; }
tr.odd.gradeU td.sorting_1 { background-color: #c4c4c4; }
tr.odd.gradeU td.sorting_2 { background-color: #d1d1d1; }
tr.even.gradeU td.sorting_1 { background-color: #d5d5d5; }
tr.even.gradeU td.sorting_2 { background-color: #e2e2e2; }

